<template>
    <div>
        <button @click="switchStatus">
            {{ this.status === 1 ? "Active" : "Inactive" }}
        </button>
        <select v-model="group">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</template>

<script>
export default {
    data() {
        return {
            group: this.$store.state.user.group,
        };
    },
    computed: {
        status() {
            return this.$store.state.user.status;
        },
    },
    watch: {
        group(newValue) {
            this.$store.commit("user/setGroup", newValue);
        }
    },
    methods: {
        switchStatus() {
            const newStatus = this.status === 1 ? 0 : 1;
            this.$store.commit("user/setStatus", newStatus);
        }
    }
}
</script>