<template>
    <div>
        Dynamic info:
        <ul>
            <li>Status: {{ this.status }}</li>
            <li>Group: {{ this.group }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    computed: {
        status() {
            return this.$store.state.user.status;
        },
        group() {
            return this.$store.state.user.group;
        },
    },
}
</script>
