<template>
    <div>
        <span>Static info:</span>
        <ul>
            <li>First name: {{ this.first_name }}</li>
            <li>Second name: {{ this.second_name }}</li>
            <li>Email: {{ this.email }}</li>
            <li>Phone: {{ this.phone }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "UserInfo",
    data() {
        return {
            first_name: this.$store.state.user.first_name,
            second_name: this.$store.state.user.second_name,
            email: this.$store.state.user.email,
            phone: this.$store.state.user.phone,
        }
    }
}
</script>