<template>
  <div>
    <UserInfo></UserInfo>
    <StatusAndGroup></StatusAndGroup>
    <Controller></Controller>
  </div>
</template>

<script>
import UserInfo from "./components/UserInfo";
import StatusAndGroup from "./components/StatusAndGroup";
import Controller from "./components/Controller";

function getUserProfile() {
  return {
    "first_name": "test",
    "second_name": "test2",
    "phone": "0000000",
    "status": 1,
    "group": 2,
    "email": "test@test.com",
  };
}

export default {
  created() {
    const {status, group, ...profileInfo} = getUserProfile();
    this.$store.commit("user/setInfo", profileInfo);
    this.$store.commit("user/setGroup", group);
    this.$store.commit("user/setStatus", status);
  },
  components: {
    UserInfo,
    StatusAndGroup,
    Controller,
  },
  name: 'app',
}
</script>
